body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .heading {
  font-size: 30px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
} */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 80px;
  width: 100%;
}
